easydict==1.13
geoopt==0.5.1
matplotlib==3.10.6
numpy==2.3.3
pandas==2.3.3
PyYAML==6.0.2
PyYAML==6.0.3
rdkit==2025.3.3
Requests==2.32.5
scikit_learn==1.7.2
torch==2.1.2+cu121
tqdm==4.67.1
transformers==4.36.1
